:root {
  --bg-color: rgba(46, 204, 113,0.2);
  --primary-color: #34cb79;
  --title-color: #7a33cc;
  --text-color: rgba(44, 62, 80,1.0);
  --url-color: #34495e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}
